{
 "db_name": "{{ MYSQL_DATABASE }}",
 "db_user": "{{ MYSQL_USER }}",
 "db_password": "{{ MYSQL_PASSWORD }}",
 "db_host": "{{ MYSQL_HOST }}",
 "admin_password": "{{ ADMIN_PASSWORD }}",
 "root_login": "root",
 "root_password": "{{ MYSQL_ROOT_PASSWORD }}",
 "host_name": "http://{{ SQUASH_DOMAIN }}",
 "install_apps": ["erpnext"]
}